/* common style  */
body {
  font-family: "Open Sans";
}
.font_css {
    color: #474747;
  font-size: 20px;
  font-weight: 400;
}
.orange-btn{
    padding: 18px 36px;
    color: white;
    background-color: #FD6E0A;
    border: none;
    border-radius: 5px;
}   



/* ------------------------------------------------------------- */
.header {
  background-color: #fff8f3;
}
.navbar {
  margin: 0px 230px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin: 40px 230px; */
  /* padding: ; */
}

.navbar ul {
  display: flex;
  gap: 51px;
  list-style: none;

  /* justify-content: space-between; */
  align-items: center;
}
.navbar ul li a {
  text-decoration: none;
  color: black;
}
